<!-- src/views/index.ejs -->
<%- include('partials/header', { title: 'Inici' }) %>

<h1>Benvingut/da a la Gestió d'Incidències</h1>
<p><a href="/incidencies" class="btn btn-primary">Veure incidències</a></p>

<%- include('partials/footer') %>