<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= title %></title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/cosmo/bootstrap.min.css" 
    crossorigin="anonymous"
  />
  <%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" crossorigin="anonymous" /> %>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">Gestió d'Incidències</a>
      <div>
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="/index">Inici</a></li>
          <li class="nav-item"><a class="nav-link" href="/incidencies">Incidències</a></li>
          <li class="nav-item"><a class="nav-link" href="/actuacions">Actuacions</a></li>   
          <li class="nav-item"><a class="nav-link" href="/admin/control-panel">Admin</a></li>      
         
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">