<!-- src/views/index.ejs -->
<%- include('partials/header', { title: 'Inici' }) %>

<div class="container py-5">
  <h1 class="mb-4">Benvingut al Sistema de Gestió d'Incidències</h1>
  <p class="lead">Aquí podràs veure el nostre projecte, sobre crear un sistema de gestió d'incidències per el nostre institut. Podràs crear una incidència, veure un llistat d'aquesta i si ets un tècnic o un admin, podràs registrar una actuació i assignar una incidencia a un tècnic.</p>
  <div class="mt-4">
    <p class="lead">Des d'aquí pots:</p>
    <div class="d-grid gap-3 d-md-block">
      <a href="/incidencies/new" class="btn btn-primary me-2 mb-2">Crear incidència (Usuari)</a>
      <a href="/incidencies" class="btn btn-secondary me-2 mb-2">Llistat d'incidències (Usuari)</a>
      <a href="/actuacions/new" class="btn btn-success me-2 mb-2">Crear actuació (Tècnic)</a>
      <a href="/incidencies/1/assignacions" class="btn btn-warning mb-2">Assignar/Editar incidència (Tècnic/Admin)</a>
    </div>
  </div>

  <div class="alert alert-info mt-4">
    Si tens qualsevol dubte, posa't en contacte amb l'equip tècnic.
  </div>
</div>



<%- include('partials/footer') %>